%a{:href => '/', :id => "home"} &larr; Home
%article.single
  %header
    %blockquote
      %h1
        %span &#8220;
        = @article.title
        %span &#8221;
      %span.attribution
        posted by Ben Schwarz on
        %time{:datetime => @article.published.xmlschema}
          = "#{@article.published.strftime('%B')} #{@article.published.strftime('%d')}"
          %span.fakecaps= "#{ordinalize(@article.published.strftime('%d'))},"
          = @article.published.strftime('%Y')
  %section#content
    = article_html(@article)