!!! xml
%feed{:xmlns => "http://www.w3.org/2005/Atom"}
 
  %title germanforblack articles
  %link{:href => "http://feeds.feedburner.com/benschwarz", :rel => "self", :hreflang => "en", :type => "application/atom+xml"}/
  %link{:href => "http://www.germanforblack.com", :rel => "alternate", :hreflang => "en", :type => "text/html"}/
   
  %author
    %name Ben Schwarz
    %uri http://www.germanforblack.com/
    %email ben.schwarz@gmail.com

  %id tag:www.germanforblack.com,2009-22-07:/articles
  %updated= @articles.first.published.xmlschema

  - for article in @articles[0..14]
    %entry
      %id== tag:www.germanforblack.com,2009-22-07:#{article_path(article)}
      %title{:type => "html"}= article.title
      %published= article.published.xmlschema
      %updated= (article.updated || article.published).xmlschema
      %link{:href => "http://www.germanforblack.com#{article_path(article)}", :rel => "alternate", :hreflang => "en", :type => "text/html"}/
      %content{:type => "xhtml", "xml:lang"=>"en", "xml:base"=>"http://www.germanforblack.com/"}
        %div{:xmlns => "http://www.w3.org/1999/xhtml"}= article_html(article)