%header
  %h1
    %a{:href => "/about"} Ben Schwarz
    is a web architect hailing from Melbourne, Australia who has a strong focus on user experience and scalable content delivery. 
    
%section#content
  %section#recently.column.four
    %h2 Recently
    %ul.articles
      = partial "articles", :articles => @articles
      %li
        %span.source
          from
          %a{:href => "/articles"} articles
    %ul.images
      = partial "images", :image => @image
  
  = partial "links", :links => @links
  = partial "projects", :projects => @projects
  = partial "presentations", :presentations => @presentations