!!!
%html{:lang => "en"}
  %head
    %title Ben Schwarz
    %link{:rel => "stylesheet", :href => "/css/reset.css", :type => "text/css", :media => "screen"}
    %link{:rel => "stylesheet", :href => "/css/base.css", :type => "text/css", :media => "screen"}
    %link{:rel => "openid.server", :href => "http://www.myopenid.com/server"}
    %link{:rel => "openid.delegate", :href => "http://benschwarz.myopenid.com/"}
    %meta{"http-equiv" => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => "description", :content => "A Melbourne based developer with an uncanny fetish for user experience and technology"}
    %meta{:name => "keywords", :content => "ruby, developer, ui, ux, user experience, application development, testing, test driven, development, melbourne, australia, ben, ben schwarz, benschwarz, bschwarz"}
    %meta{:name => "author", :content => "Ben Schwarz"}
    %meta{:name => "robots", :content => "index, follow"}
    
    
  %body{:id => @page_id}
    #wrapper
      = yield
    %section#footer
      %section
        = partial "about", :about => @twitter
        = partial "event", :event => @event
        = partial "elsewhere"
        = partial "cc"