<article class="link <%= stream["source"].downcase %>">
  <header>
    <h2><a href="<%= stream["link"] %>"><%= stream["y:title"] %></a></h2>
    <span class="attribution">source <a href="<%= item["link"] %>"><%= stream["source"] %></a></span>
  </header>
  <% unless stream["description"].nil? or item["source"] == "Twitter" %>
    <p class="description"><%= stream["description"] %></p>
  <% end %>
  <aside class="posted">
    <h3>Posted</h3>
    <time datetime="<%= item["pubDate"] %>">Wednesday, 12<span class="fakecaps">th</span> of  August, 2007</time>
  </aside>
</article>